.container-detail-projeto {
  background: var(--bg-surface-white);
  border-radius: 8px;
}

.detail-header {
  background: var(--gradient-primary);
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.detail-title {
  padding-left: 16px;
}

.detail-title h3 {
  color: var(--font-color-dark);
  font-size: 32px;
  font-weight: 700;
}

.detail-title p {
  color: var(--font-color-dark);
  font-size: 16px;
  font-weight: 500;
}

.clima {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  gap: 2px;
}

.title-clima h3 {
  color: #252525;
  font-size: 12px;
  font-weight: 700;
}

.container-tempo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.container-tempo .icon {
  width: 55px;
  height: 55px;
}

.container-tempo span {
  color: #252525;
  font-size: 24px;
  font-weight: 900;
}

.descricao h6 {
  color: var(--font-color-dark);
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}

.detail-col-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.colunns {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 16px;
  padding: 16px;
}

.info-input {
  border: 1px solid var(--grey-50);
  border-radius: 16px;
  padding: 6px;
  margin-top: 4px;
  padding-left: 8px;
  /* background: var(--bg-grey-light-color); */
  font-size: 14px;
  color: var(--font-color-dark);
  min-height: 35px;
}

/* BUTTON */
.container-botao {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  padding: 4px;
  margin: 16px;
}

.div-buttons {
  display: flex;
  padding: 24px;
  gap: 24px;
}

.button-back {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  width: 130px;
  height: 40px;
  border-radius: 16px;
}

.button-back:hover {
  background: var(--accent-color);
  color: var(--font-color-light);
}

.button-atualizar {
  background: var(--color-sucess);
  color: var(--font-color-light);
  width: 130px;
  height: 40px;
  border-radius: 16px;
}

.button-atualizar:hover {
  background: var(--color-green);
  color: var(--font-color-light);
}

@media screen and (max-width: 768px) {
  .detail-col-grid {
    grid-template-columns: 1fr;
  }
}

/* #openweathermap-widget-12 {
  background: #f5f5f5;
} */
#map-container {
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
}

/* Lista de arquivos */
.arquivo-lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.arquivo-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.arquivo-item img {
  margin-right: 8px;
}

.arquivo-item a {
  text-decoration: none;
  color: inherit;
}

.arquivo-item a:hover {
  color: #dc3545;
}
