<div [@pageTransition]>
  <div class="container-detail-projeto">
    <div class="detail-header">
      <div class="detail-title">
        <h3>{{ projeto?.nomeProjeto }}</h3>
        <p>{{ projeto?.categoria}}</p>
      </div>
      <div id="openweathermap-widget-12"></div>
    </div>

    <div class="detail-content">
        <div>
          <dl class="detail-col-grid">
            <div class="colunns">
              <div>
                <dt class="text-sm font-medium text-gray-500">Cliente</dt>
                <dd class="info-input">{{ projeto?.nomeCliente }}</dd>
              </div>

              <div>
                <dt class="text-sm font-medium text-gray-500">Receber orçamentos até</dt>
                <dd class="info-input">{{ formatDatePTBR(projeto?.dataLimiteOrcamento?.toString()) }}</dd>
              </div>

              <div>
                <dt class="text-sm font-medium text-gray-500">Visibilidade</dt>
                <dd class="info-input">{{ projeto?.visibilidade }}</dd>
              </div>

              <div>
                <dt class="text-sm font-medium text-gray-500">Observações</dt>
                <dd class="info-input">{{ projeto?.observacoes }}</dd>
              </div>
            </div>

            <div class="colunns">
              <div>
                <dt class="text-sm font-medium text-gray-500">Cidade</dt>
                <dd class="info-input">{{ projeto?.cidade }}</dd>
              </div>

              <div>
                <dt class="text-sm font-medium text-gray-500">Estado</dt>
                <dd class="info-input">{{ projeto?.estado }}</dd>
              </div>

              <div>
                <dt class="text-sm font-medium text-gray-500">Endereço</dt>
                <dd class="info-input">{{ projeto?.endereco }} </dd>
              </div>

              <div>
                <dt class="text-sm font-medium text-gray-500">Arquivos</dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex">
                  <i class="bi bi-filetype-pdf text-2xl cursor-pointer hover:text-danger transition-all mx-4">1</i>
                  <i class="bi bi-filetype-pdf text-2xl cursor-pointer hover:text-danger transition-all mx-4">2</i>
                  <i class="bi bi-filetype-pdf text-2xl cursor-pointer hover:text-danger transition-all mx-4">3</i>
                </dd>
              </div>
            </div>

            <div class="colunns"></div>
          </dl>
        </div>
      </div>
  </div>
</div>

<div class="container-botao">
  <div>

<!--        <app-alert-->
<!--          (hideAlert)="onAlertCloseHandler($event)"-->
<!--          [dismissible]="true"-->
<!--          [messages]="serverMessages"-->
<!--          [show]="serverMessages.length > 0"-->
<!--          [type]="tipoAlerta"-->
<!--        ></app-alert>-->

    <div class="div-buttons">
      <button type="button" class="button-back" (click)="handleBack()">
        Voltar
      </button>
      <button type="button" class="button-atualizar">
        Atualizar
      </button>
    </div>
  </div>
</div>