<div [@pageTransition]>
  <div class="title-header">
    <h1>
      <span>|</span>
      Oportunidades
    </h1>
  </div>

  <div class="body-oportunidade">
    <div class="container-oportunidades">
      <div *ngFor="let projeto of listaProjetosDisponiveis" class="body-card">
        <div class="col-dados">
          <div class="container-info">
            <div class="col-img">
              <img src="assets/icons/padrao-fornecedor.svg">
            </div>
            <div class="title-dados">
              <span>Público</span>
              <h1>{{ projeto.nomeProjeto }}</h1>
              <h3>{{ projeto.categoriaProjeto }}</h3>
              <p>{{ projeto.dataLimiteOrcamento | date: 'dd/MM/yyyy' }}</p>
            </div>
          </div>
          <div class="info-detail">
            <div class="user-name">
              <h3>{{  projeto.nomeUsuario }}</h3>
              <p>{{ projeto.tipoUsuario }}</p>
            </div>
            <button (click)="detailsModal(projeto)">Saiba mais</button>
          </div>
        </div>
      </div>
    </div>
    <h2>Promoções</h2>
    <div>
      <div class="card-sale">
        <div class="sale-image-container">
          <img src="assets/images/promocao-teste.png" alt="Promoção">
          <div class="discount-badge">-20%</div>
        </div>
        <div class="sale-info">
          <h3>Ar-Condicionado</h3>
          <div class="price">
            <span class="currency">R$</span>
            <span class="current-price">100,00</span>
            <span class="old-price">De: R$ 120,00</span>
          </div>
          <button>Ver mais</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Details Modal -->
   <app-modal [show]="showDetailModal" [footer]="false" (closeModal)="onModalDetailsHandler($event)">
    <div class="sm:flex sm:items-start container-modal">
      <div class="modal-header">
        <div class="close-modal">
          <button type="button" class="close" aria-label="Close" (click)="detailsModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="detail-img">
          <img src="assets/icons/padrao-fornecedor.svg">
        </div>
        <div class="title-detalhes">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="body-details">
        <div class="detail-item">
          <h4>Descrição do Projeto</h4>
          <p>{{ selectedOportunidade?.descricaoProjeto }}</p>
        </div>
        <div class="detail-item">
          <h4>Categoria</h4>
          <p>{{ selectedOportunidade?.categoriaProjeto }}</p>
        </div>
        <div class="detail-item">
          <h4>Endereço</h4>
          <p>{{ selectedOportunidade?.endereco }}</p>
        </div>
        <div class="detail-item contato-item">
          <h4>Contato</h4>
          <p>E-mail:
            <span>{{ selectedOportunidade?.email }}</span>
          </p>
          <p>CNPJ:
            <span></span>
          </p>
          <p>Telefone:
            <span></span>
          </p>
        </div>
      </div>
    </div>
   </app-modal>

  <p class="" *ngIf="listaProjetosDisponiveis.length == 0 && idClienteSelecionado == 0">Nenhum projeto encontrado</p>
</div>

