.table-container::-webkit-scrollbar {
  width: 2px;
  height: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: var(--bg-surface-white);
}

.table-container::-webkit-scrollbar-thumb {
  background: var(--bg-color-dark);
  border-radius: 8px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: var(--gradient-primary);
}

/* table  */
.ng-wind-table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.grid-col{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.ng-wind-table-header {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
}

.container-itens{
  width: 100%;
}

.itens-tr{
  background: var(--bg-surface-white);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  margin-bottom: 8px;
  border-radius: 4px;
}

.itens-tr:hover{
  background: var(--bg-grey-light-color);
}

.ng-wind-header-item {
  padding: 0.75rem 1rem;
  text-align: center;
}

.ng-wind-data-item {
  padding: 0.75rem 1rem;
  text-align: center;
}

.icon {
  width: 24px;
  height: 24px; 
  cursor: pointer; 
  margin: 0 5px; 
  display: inline-block;
}

.container-tabela {
  width: 100%;
}

/* MODAL */
.modal-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-modal{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-header h3{
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color-dark);
}

.modal-header hr{
  width: 100%;
  color: var(--grey-50);
  margin-top: 8px;
  margin-bottom: 24px;
  border: none;
  height: 1px;
  background-color: var(--grey-50);
}

.modal-header .close {
  background: none;
  color: var(--grey-50);
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.mat-icon.delete-icon {
  width: 56px; 
  height: auto;
  padding-bottom: 24px; 
}

.text-modal-delete{
  color: var(--text-color-dark);
  font-weight: 400;
  font-size: 16px;
}

.cliente-delete{
  color: var(--text-color-dark);
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .container-tabela{
    overflow-x: hidden;
  }

  .scroll-table{
    width: 100%;
    max-width: 380px;
    overflow-x: auto;
  }

  .ng-wind-table-header{
    font-size: 12px;
  }

  .container-itens{
    font-size: 10px;
  }

  .icon {
    width: 20px;
    height: 20px; 
    margin: 0 4px; 
  }

  .ng-wind-data-item {
    padding: 0.2rem;
    text-align: center;
  }

  .grid-col{
    display: grid;
    gap: 0.2rem;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
  }
}

/* pagination */

.ng-wind-table-pagination {
  @apply flex items-center flex-wrap md:flex-row justify-between pt-4 text-xs;
}
.ng-wind-table-page-view {
  @apply flex  items-center font-normal text-gray-500  mb-4 md:mb-0  w-full  md:w-auto;
}

.ng-wind-page-btn {
  @apply flex items-center justify-center px-2 h-7 ms-0 leading-tight text-gray-500 bg-white border border-gray-300  hover:bg-gray-100;
}

.page-number {
  @apply flex items-center justify-center px-3 h-7 leading-tight text-gray-500  border border-gray-300;
}
.active-page {
  @apply bg-blue-100 hover:bg-blue-100 hover:text-blue-700;
}
.ng-wind-page-prev {
  @apply rounded-s-md ng-wind-page-btn;
}
.ng-wind-page-next {
  @apply rounded-e-md ng-wind-page-btn;
}
.page-number-show-dropdown:focus {
  border: 0 !important;
}
