<div [@pageTransition]>
  <div class="title-header">
    <h1>
      <span>|</span>
      Painel de Controle
    </h1>
    <div class="container-btn">
      <button type="button" class="btn button-convite" (click)="handleModal()">
        Convide +
      </button>
    </div>
  </div>

  <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
    <div class="card flex items-center card-dashboard" (click)="openClientesPopup()">
      <div class="info-card">
        <h4>{{ dadosPerfil.qtdTotalClientes }}</h4>
        <p>Total de Clientes</p>
      </div>
      <span class="text-3xl">
        <img src="assets/icons/users.svg" alt="Clientes">
      </span>
    </div>

    <div class="card flex items-center card-dashboard">
      <div class="info-card">
        <h4 class="text-xl font-bold">{{ dadosPerfil.qtdTotalProjetos }}</h4>
        <p class="text-md text-gray-400">Total de Projetos</p>
      </div>
      <span class="text-3xl">
        <img src="assets/icons/clipboard-pen.svg" alt="Prancheta com Caneta">
      </span>
    </div>

    <div class="card flex items-center card-dashboard">
      <div class="info-card">
        <h4>{{ dadosPerfil.qtdProjetosEmAndamento }}</h4>
        <p>Projetos em andamento</p>
      </div>
      <span class="text-3xl">
        <img src="assets/icons/clipboard-user.svg" alt="Prancheta com cliente">
      </span>
    </div>

    <div class="card flex items-center card-dashboard">
      <div class="info-card">
        <h4>{{ dadosPerfil.qtdTotalFornecedores }}</h4>
        <p>Fornecedores</p>
      </div>
      <span class="text-3xl">
        <img src="assets/icons/store.svg" alt="store">
      </span>
    </div>
  </section>

  <div class="my-5"></div>

<!--  <section class="grid grid-cols-1 my-4 xl:grid-cols-2 2xl:grid-cols-3 gap-5">-->
<!--    <div class="card p-8 2xl:col-span-2">-->
<!--      <div class="card-title flex justify-between items-center mb-4">-->
<!--        <h3 class="text-xl font-bold leading-none">Upcoming Events</h3>-->
<!--      </div>-->
<!--      <div class="overflow-y-auto overflow-x-hidden pr-4" style="max-height: 500px;">-->
<!--        <div class="block md:flex md:items-center gap-6 py-3 my-3 border-b" *ngFor="let i of [1, 2, 3, 4, 5, 6]">-->
<!--          <div class="hidden relative lg:block">-->
<!--            <img src="https://placehold.co/600x400" alt="event image" class="w-48 rounded-lg">-->
<!--            <span-->
<!--              class="bi bi-calendar2-event absolute bottom-0 right-0 w-10 h-7 bg-emerald-500 text-center border rounded-tl-lg rounded-br-lg text-white"></span>-->
<!--          </div>-->
<!--          <div class="flex-1 my-3">-->
<!--            <h4 class="text-lg font-semibold leading-none">-->
<!--              Envato International Online Meetup 2020-->
<!--            </h4>-->
<!--            <p class="my-1 text-emerald-500">California, USA</p>-->
<!--            <p class="text-xs text-justify">-->
<!--              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint ipsa vero illum quos vitae-->
<!--              dolorum, earum-->
<!--              recusandae est modi ea possimus nihil aspernatur-->
<!--              libero unde itaque error quis, sit tenetur esse quam harum corrupti! Quia, tenetur provident,-->
<!--              vero, recusandae-->
<!--              aliquam possimus at mollitia quo perspiciatis-->
<!--              adipisci in? Odio, impedit cumque.-->
<!--            </p>-->
<!--          </div>-->
<!--          <div class="w-80 flex justify-between">-->
<!--            <div class="text-center text-emerald-600">-->
<!--              <div-->
<!--                class="flex items-center justify-center bg-emerald-50 rounded-full shadow-sm shadow-gray-200 w-12 h-12 xl:w-16 xl:h-16">-->
<!--                <i class="bi bi-cash text-2xl block"></i>-->
<!--              </div>-->
<!--              <p class="text-sm mt-3">$200</p>-->
<!--            </div>-->
<!--            <div class="text-center text-emerald-600">-->
<!--              <div-->
<!--                class="flex items-center justify-center bg-gray-50 rounded-full shadow-sm shadow-gray-200 w-12 h-12 xl:w-16 xl:h-16">-->
<!--                <i class="bi-ticket-perforated text-2xl block"></i>-->
<!--              </div>-->
<!--              <p class="text-sm mt-3">150 pcs left</p>-->
<!--            </div>-->
<!--            <div class="text-center text-emerald-600">-->
<!--              <div-->
<!--                class="flex items-center justify-center bg-emerald-50 rounded-full shadow-sm shadow-gray-200 w-12 h-12 xl:w-16 xl:h-16">-->
<!--                <i class="bi bi-calendar2-check text-2xl block"></i>-->
<!--              </div>-->
<!--              <p class="text-sm mt-3">{{ eventDate }}</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="text-center">-->
<!--          <i class="bi bi-arrow-clockwise"></i>-->
<!--          loading...-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

<!-- Popup para lista de clientes -->
<div *ngIf="showClientesPopup" class="popup">
  <div class="popup-content">
    <span class="close" (click)="closeClientesPopup()">&times;</span>
    <h2>Lista de Clientes</h2>
    <ul>
      <li *ngFor="let cliente of listaClientes">{{ cliente?.nome }}</li>
    </ul>
  </div>
</div>

</div>