<div [@pageTransition]>
  <div class="title-header">
    <h1>
      <span>|</span>
      Painel de Controle
    </h1>
    <div class="container-btn">
      <button type="button" class="btn button-convite" (click)="handleModal()">
        Convide +
      </button>
    </div>
  </div>

  <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
    <!-- Dashboard do projestista -->
    <ng-container *ngIf="userLogged?.perfilUsuario == EPerfilUsuario.PROJETISTA">
      <div class="card flex items-center card-dashboard" (click)="openClientesPopup()">
        <div class="info-card">
          <h4>{{ dadosPerfil.qtdTotalClientes }}</h4>
          <p>Total de Clientes</p>
        </div>
        <span class="text-3xl">
          <img src="assets/icons/users.svg" alt="Clientes">
        </span>
      </div>
  
      <div class="card flex items-center card-dashboard">
        <div class="info-card">
          <h4 class="text-xl font-bold">{{ dadosPerfil.qtdTotalProjetos }}</h4>
          <p class="text-md text-gray-400">Projetos em Cotação</p>
        </div>
        <span class="text-3xl">
          <img src="assets/icons/clipboard-pen.svg" alt="Prancheta com Caneta">
        </span>
      </div>
  
      <div class="card flex items-center card-dashboard">
        <div class="info-card">
          <h4>{{ dadosPerfil.qtdProjetosEmAndamento }}</h4>
          <p>Projetos em andamento</p>
        </div>
        <span class="text-3xl">
          <img src="assets/icons/clipboard-user.svg" alt="Prancheta com cliente">
        </span>
      </div>
  
      <div class="card flex items-center card-dashboard">
        <div class="info-card">
          <h4 class="text-xl font-bold">{{ dadosPerfil.qtdTotalProjetos }}</h4>
          <p class="text-md text-gray-400">Projetos Finalizados</p>
        </div>
        <span class="text-3xl">
          <img src="assets/icons/prancheta-check.svg" alt="Prancheta Check">
        </span>
      </div>
  
      <div class="card flex items-center card-dashboard">
        <div class="info-card">
          <h4>{{ dadosPerfil.qtdTotalFornecedores }}</h4>
          <p>Fornecedores</p>
        </div>
        <span class="text-3xl">
          <img src="assets/icons/store.svg" alt="store">
        </span>
      </div>
    </ng-container>

    <!-- Dashboard de fornecedor -->
    <ng-container *ngIf="userLogged?.perfilUsuario == EPerfilUsuario.FORNECEDOR">
      <div class="card flex items-center card-dashboard">
        <div class="info-card">
          <h4>{{ dadosPerfil.qtdTotalFornecedores }}</h4>
          <p>Total de Clientes</p>
        </div>
        <span class="text-3xl">
          <img src="assets/icons/users.svg" alt="Clientes">
        </span>
      </div>
      <div class="card flex items-center card-dashboard" [routerLink]="commonServices.prepareRoute(appRoutes.Admin, adminRoutes.Oportunidades)">
        <div class="info-card">
          <h4>{{ dadosPerfil.qtdTotalFornecedores }}</h4>
          <p>Projetos em Cotação</p>
        </div>
        <span class="text-3xl">
          <img src="assets/icons/clipboard-pen.svg" alt="Prancheta com Caneta">
        </span>
      </div>
      <div class="card flex items-center card-dashboard">
        <div class="info-card">
          <h4>{{ dadosPerfil.qtdTotalFornecedores }}</h4>
          <p>Projeto em Andamento</p>
        </div>
        <span class="text-3xl">
          <img src="assets/icons/clipboard-user.svg" alt="Prancheta com cliente">
        </span>
      </div>
      <div class="card flex items-center card-dashboard">
        <div class="info-card">
          <h4>{{ dadosPerfil.qtdTotalFornecedores }}</h4>
          <p>Projeto Finalizado</p>
        </div>
        <span class="text-3xl">
          <img src="assets/icons/prancheta-check.svg" alt="Prancheta Check">
        </span>
      </div>
    </ng-container>
  </section>

  <div class="my-5"></div>

  <!-- Popup para lista de clientes -->
<div *ngIf="showClientesPopup" class="popup" (click)="onBackgroundClick($event)">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeClientesPopup()">&times;</span>
    <h2>Lista de Clientes</h2>
    <hr class="line">
    <div class="dados-client">
      <div class="header">
        <div class="header-item">
          <span>Nome</span>
          <button (click)="sortByNome()">
            <div [ngClass]="{'asc': sortDirectionNome, 'desc': !sortDirectionNome}">
              <img [ngClass]="{'asc': sortDirectionNome, 'desc': !sortDirectionNome}" src="assets/icons/order-up.svg" alt="seta de ordenação" style="width: 10px;">
            </div>
          </button>
        </div>
        <div class="header-item">
          <span>Projeto</span>
          <button (click)="sortByProjeto()">
            <img [ngClass]="{'asc': sortDirectionProjeto, 'desc': !sortDirectionProjeto}" src="assets/icons/order-up.svg" alt="seta de ordenação" style="width: 10px;">
          </button>
        </div>
      </div>
      <hr>
      <div class="content">
        <div class="column">
          <ul>
            <li *ngFor="let cliente of listaClientes">{{ cliente.nome }}</li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li *ngFor="let cliente of listaClientes">{{ cliente.projeto }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>