.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  margin-bottom: 32px;
  background: #e8e8e8;
  border-radius: 8px;
}

.title-header h1 {
  font-size: 1.3em;
  font-weight: 400;
  color: var(--font-color-dark);
}

.title-header span {
  font-weight: 700;
  color: var(--accent-color);
}

.container-btn {
  display: flex;
}

.button-convite {
  background: var(--gradient-primary);
  font-weight: 700;
}

.button-convite:hover {
  background: var(--gradient-secondary);
}

.card-dashboard {
  border-radius: 8px;
  padding: 16px;
  background: var(--gradient-primary);
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.info-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 60%;
  align-items: flex-start;
}

.info-card h4 {
  color: var(--font-color-dark);
  font-weight: 700;
  font-size: 26px;
}

.info-card p {
  color: var(--font-color-dark);
  font-weight: 400;
  font-size: 1.0625rem;
}

.card-dashboard span {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-dashboard img {
  width: 90px !important;
  height: 90px !important;
}

/* Estilos para o popup */
.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content ul {
  list-style-type: none;
  padding: 0;
}

.popup-content ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.popup-content ul li:last-child {
  border-bottom: none;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
