.table-container::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

.table-container::-webkit-scrollbar-track {
  @apply bg-slate-200;
}

.table-container::-webkit-scrollbar-thumb {
  @apply bg-slate-500 rounded-sm;
}

.table-container::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-200;
}

.table-container {
  scrollbar-width: thin;
}

/* table  */
.tabela-body{
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ng-wind-table {
  width: 100%;
  font-size: 14px;
}

.grid-col{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.ng-wind-table-header {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
}

.container-itens{
  width: 100%;
}

.itens-tr{
  background: var(--bg-color-light);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  margin-bottom: 8px;
  border-radius: 4px;
}

.itens-tr:hover{
  background: var(--bg-grey-light-color);
}

.ng-wind-header-item {
  @apply px-4 py-3;
}

.ng-wind-data-item {
  padding: 0.75rem 1rem;
  text-align: center;
}

.icon {
  width: 24px;
  height: 24px; 
  cursor: pointer; 
  margin: 0 5px; 
  display: inline-block;
}

/* pagination */

.ng-wind-table-pagination {
  @apply flex items-center flex-wrap md:flex-row justify-between pt-4 text-xs;
}
.ng-wind-table-page-view {
  @apply flex  items-center font-normal text-gray-500  mb-4 md:mb-0  w-full  md:w-auto;
}

.ng-wind-page-btn {
  @apply flex items-center justify-center px-2 h-7 ms-0 leading-tight text-gray-500 bg-white border border-gray-300  hover:bg-gray-100;
}

.page-number {
  @apply flex items-center justify-center px-3 h-7 leading-tight text-gray-500  border border-gray-300;
}
.active-page {
  @apply bg-blue-100 hover:bg-blue-100 hover:text-blue-700;
}
.ng-wind-page-prev {
  @apply rounded-s-md ng-wind-page-btn;
}
.ng-wind-page-next {
  @apply rounded-e-md ng-wind-page-btn;
}
.page-number-show-dropdown:focus {
  border: 0 !important;
}
