<header class="py-3 px-8 shadow-[0_5px_5px_-5px] shadow-gray-200 sticky top-0 admin-navbar">
    <div class="flex justify-between items-center">
        <div class="flex justify-start items-center gap-x-3"></div>
        <div class="flex justify-end items-center gap-x-3">

            <!-- PROFILE -->
            <div class="relative inline-block profile-dropdown">
                <div class="flex items-center shadow rounded-full px-4 btn-drop" (click)="onClickProfile()">
                    <div class="text-btn">
                        <p>{{userLogged?.nome}}</p>
                        <span>{{userLogged?.tipoUsuario}}</span>
                    </div>
                    <!-- <img src="assets/icons/profile-user.svg" alt="logout"> -->
                </div>

                <div class="profile-dropdown-list" aria-expanded="false">
                    <div class="dados-base-user">
                        <span class="name-user">
                            {{userLogged?.nome}}
                        </span>
                        <p class="email-user">
                            {{userLogged?.email}}
                        </p>
                    </div>
                    <div class="border-t border-slate-500/30"></div>
                    <div class="container-btn">
                        <a [routerLink]="commonService.prepareRoute(appRoutes.Admin, adminRoutes.Settings, settingRoutes.Profile)" class="btn-menu-profile">
                            <img src="assets/icons/profile-user.svg" alt="profile">
                            <span> Perfil </span>
                        </a>
                    </div>
                    <div class="border-t border-slate-500/30"></div>
                    <div class="container-btn">
                        <button type="button" class="btn-menu-profile" (click)="authService.logout()">
                            <img src="assets/icons/logout.svg" alt="logout">
                            Sair
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
