<div [@pageTransition]>
  <div class="title-header">
    <h1>
      <span>|</span>
      Seus clientes
    </h1>
    <div class="container-btn">
      <button type="button" class="btn button-adicionar" (click)="handleModal()">
        Adicionar +
      </button>
    </div>
  </div>

  <app-modal [show]="showModalAdd" size="max-w-7xl" [footer]="false" (closeModal)="onModalCloseHandler($event)">
    <div class="container-modal sm:items-start">
      <div class="modal-header">
        <div class="close-modal">
          <button type="button" class="close" aria-label="Close" (click)="handleModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <h3 id="modal-title">
          Cadastrar cliente
        </h3>
        <hr>
      </div>

      <app-alert (hideAlert)="onAlertCloseHandler($event)" [dismissible]="true" [messages]="serverMessages" [show]="serverMessages.length > 0" [type]="tipoAlerta">
      </app-alert>

      <form [formGroup]="clienteForm">
        <div class="grid grid-cols-12 gap-x-6 space-y-4">
          <div class="col-span-12 md:col-span-6">
            <div class="form-group">
              <label for="nome" class="form-label required text-left">Nome</label>
              <input type="text" id="nome" formControlName="nome" placeholder="Ex: Caio Fonseca" class="form-control"/>
              <small *ngIf="submited && !clienteForm.get('nome')?.value?.toString()" class="text-red-500 text-left">{{ ERROR_MESSAGES.required() }}</small>
            </div>
          </div>

          <div class="col-span-12 md:col-span-6">
            <div class="form-group">
              <label for="nome" class="form-label required text-left">Projeto</label>
              <input type="text" id="projeto" formControlName="projeto" placeholder="Ex: Casa Alphaville" class="form-control"/>
              <small *ngIf="submited && !clienteForm.get('projeto')?.value?.toString()" class="text-red-500 text-left">{{ ERROR_MESSAGES.required() }}</small>
            </div>
          </div>

          <div class="col-span-12 md:col-span-6">
            <div class="form-group">
              <label for="contato" class="form-label text-left">Contato <span>(opcional)</span></label>
              <input type="text" id="contato" formControlName="contato" placeholder="Ex: (xx) xxxxx-xxxx" class="form-control"/>
            </div>
          </div>

          <div class="col-span-12 md:col-span-6">
            <div class="form-group">
              <label for="estado" class="form-label required text-left">Estado</label>
              <select id="estado" class="form-select" formControlName="estado" (change)="obterCidadePorEstado(clienteForm.controls.estado.value?.toString())">
                <option [value]="''">Selectione</option>
                <option *ngFor="let estado of listaEstados" [value]="estado.sigla">{{ estado.nome }}</option>
              </select>
              <small *ngIf="submited && !clienteForm.get('estado')?.value?.toString()" class="text-red-500 text-left">{{ ERROR_MESSAGES.required() }}</small>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="button-container">
      <button type="button" class="btn button-cancel" (click)="handleModal()">
        Cancelar
      </button>
      <button type="button" class="btn button-confirm" (click)="onFormSubmitHandler()" [disabled]="clienteForm.invalid || isLoading">
        <btn-spinner *ngIf="isLoading" [show]="isLoading"></btn-spinner>
        <span class="text-branco" [ngClass]="{'translate-x-0.5': isLoading}">
          Salvar
        </span>
      </button>
    </div>
  </app-modal>

  <datatable-clientes *ngIf="listaClientes.length > 0"
                      [listaClientes]="listaClientes"
                      (showModal)="onModalCloseHandler($event)"
                      (onEditClientEmitter)="onEditClientHandler($event)"
                      (onDeleteClientEmitter)="onDeleteClientHandler($event)"/>

  <p class="" *ngIf="listaClientes.length == 0">Nenhum cliente cadastrado</p>
</div>
