<div [@pageTransition]>
  <div class="title-header">
    <h1>
      <span>|</span>
      Fornecedores
    </h1>
    <div class="container-btn">
      <button type="button" class="btn button-adicionar" (click)="handleModal()">
        Convidar +
      </button>
    </div>
  </div>

  <div class="body-fornecedor">
    <h2>Fornecedores recomendados</h2>
    <div class="container-fornecedores">
      <div *ngFor="let fornecedor of fornecedores" class="body-card">
        <div class="col-img">
          <img src="assets/icons/padrao-fornecedor.svg">
        </div>
        <div class="col-dados">
          <div class="container-title-star">
            <div class="title-dados">
              <h3>{{ fornecedor.nome }}</h3>
              <p>{{ fornecedor.cidade }} - {{ fornecedor.estado }}</p>
            </div>
            <div class="stars">
              <h3>5.0</h3>
              <div class="stars-mark">
                <span class="star filled">&#9733;</span>
                <span class="star filled">&#9733;</span>
                <span class="star filled">&#9733;</span>
                <span class="star filled">&#9733;</span>
                <span class="star">&#9734;</span>
              </div>
            </div>
          </div>
          <button (click)="detailsModal(fornecedor)">Saiba mais ></button>
        </div>
      </div>
    </div>
    <h2>Gráficos</h2>
    <div class="container-dados"></div>
  </div>
 

  <!-- Example Modal -->
  <app-modal [show]="showModal" [footer]="false" (closeModal)="onModalCloseHandler($event)">
    <div class="sm:flex sm:items-start container-modal">
      <div class="modal-header">
        <div class="close-modal">
          <button type="button" class="close" aria-label="Close" (click)="handleModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <h3 id="modal-title">
          Convide fornecedores
        </h3>
        <hr>
      </div>
      <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
        <app-alert
          (hideAlert)="onAlertCloseHandler($event)"
          [dismissible]="true"
          [messages]="serverMessages"
          [show]="serverMessages.length > 0"
          [type]="tipoAlerta">
        </app-alert>
      </div>

      <div class="container-indicacao">
        <h4>Link de convite</h4>
        <div class="link-indicacao">
          <img src="assets/icons/link-icon.svg">
          <span>https://onebuild.com
            /Krsfpfninjnd687hjbd77y31e
          </span>
        </div>
      </div>
  
      <div class="button-container">
        <button type="button" class="btn button-cancel" (click)="handleModal()">
          Cancelar
        </button>
      </div>
    </div>
  </app-modal>

   <!-- Details Modal -->
   <app-modal [show]="showDetailModal" [footer]="false" (closeModal)="onModalDetailsHandler($event)">
    <div class="sm:flex sm:items-start container-modal">
      <div class="modal-header">
        <div class="close-modal">
          <button type="button" class="close" aria-label="Close" (click)="detailsModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="detail-img">
          <img src="assets/icons/padrao-fornecedor.svg">
        </div>
        <div class="title-detalhes">
          <h3>{{ selectedFornecedor?.nome }}</h3>
          <p>{{ selectedFornecedor?.cidade }} - {{ selectedFornecedor?.estado }}</p>
        </div>
        <div class="container-stars">
          <div class="stars-details">
            <h3>5.0</h3>
            <div class="stars-mark">
              <span class="star filled">&#9733;</span>
              <span class="star filled">&#9733;</span>
              <span class="star filled">&#9733;</span>
              <span class="star filled">&#9733;</span>
              <span class="star">&#9734;</span>
            </div>
          </div>
        </div>
      </div>
      <div class="body-details">
        <div class="detail-item">
          <h4>Descrição do Fornecedor</h4>
          <p>Texto Texto Texto Texto Texto Texto Texto Texto 
            Texto Texto Texto Texto Texto Texto Texto Texto 
            Texto Texto Texto Texto Texto Texto Texto Texto 
            Texto Texto Texto Texto Texto Texto Texto Texto 
            Texto Texto Texto Texto Texto Texto Texto Texto 
            Texto Texto</p>
        </div>
        <div class="detail-item">
          <h4>Categoria</h4>
          <p>{{ selectedFornecedor?.categoria }}</p>
        </div>
        <div class="detail-item">
          <h4>Endereço</h4>
          <p>{{ selectedFornecedor?.endereco }}</p>
        </div>
        <div class="detail-item contato-item">
          <h4>Contato</h4>
          <p>E-mail:
            <span>{{ selectedFornecedor?.email }}</span>
          </p>
          <p>CNPJ:
            <span>{{ selectedFornecedor?.cnpj }}</span>
          </p>
          <p>Telefone:
            <span>{{ selectedFornecedor?.contato }}</span>
          </p>
        </div>
      </div>
    </div>
   </app-modal>

<!--  <data-table *ngIf="projects.length > 0"-->
<!--              [rowData]="projects"-->
<!--              [pageData]="pages"-->
<!--              [columnData]="columnData"-->
<!--              (showModal)="onModalCloseHandler($event)"-->
<!--              (dados)="teste($event)"-->
<!--  />-->
</div>
