.container-modal {
  width: 400px;
  margin: 1rem;
}

.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  margin-bottom: 32px;
  background: #e8e8e8;
  border-radius: 8px;
}

.title-header h1 {
  font-size: 1.3em;
  font-weight: 400;
  color: var(--font-color-dark);
}

.title-header span {
  font-weight: 700;
  color: var(--accent-color);
}

.container-btn {
  display: flex;
}

.button-adicionar {
  background: var(--gradient-primary);
  font-weight: 700;
}

.button-adicionar:hover {
  background: var(--gradient-secondary);
}

/* MODAL */
.modal-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.close-modal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-header h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--accent-color);
}

.modal-header hr {
  width: 100%;
  color: var(--grey-50);
  margin-top: 4px;
  margin-bottom: 24px;
  border: none;
  height: 1px;
  background-color: var(--grey-50);
}

.modal-header .close {
  background: none;
  color: var(--grey-50);
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.container-modal {
  width: 500px;
  margin: 1rem;
}

.link-indicacao {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  margin: 2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 16px;
}

.button-cancel {
  background: var(--gradient-primary);
  color: var(--font-color-light);
  width: 100%;
  height: 40px;
  border-radius: 16px;
}

.button-cancel:hover {
  background: var(--gradient-secondary);
}

/* CARDS */
.body-fornecedor {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.body-fornecedor h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--font-color-dark);
  padding-left: 1rem;
}

.container-fornecedores {
  display: flex;
}

.body-card {
  background: var(--font-color-light);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 2rem;
  width: 400px;
  height: 200px;
  display: flex;
  gap: 32px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.body-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.col-dados {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.col-dados button {
  color: var(--color-info-light);
  padding-top: 14px;
}

.col-dados button:hover {
  color: var(--color-info);
}

.title-dados h3 {
  font-size: 22px;
  font-weight: 600;
}

.title-dados p {
  font-size: 16px;
  font-weight: 400;
}

.container-title-star {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stars {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--bg-color-light);
  border-radius: 8px;
  margin: 2px;
}

.stars h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--grey-text);
}

.star {
  font-size: 28px;
  background: none;
  color: var(--grey-50);
}

.star.filled {
  color: var(--primary-color);
}

/* DETALHES FORNECEDOR */
.detail-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
}
.title-detalhes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 16px;
}

.title-detalhes h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--font-color-dark);
}

.title-detalhes p {
  font-size: 16px;
  font-weight: 400;
  color: var(--font-color-dark);
}

.body-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail-item h4 {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 4px;
}

.detail-item p {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-dark);
  text-align: justify;
}

.container-stars {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 16px;
}

.stars-details {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--bg-color-light);
  border-radius: 8px;
  margin: 8px;
  padding: 0 8px;
}

.stars-details h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--grey-text);
}

.contato-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contato-item span {
  font-size: 14px;
  font-weight: 200;
}

.container-dados {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.grid-item {
  padding: 10px;
  min-height: 400px;
}

.grafico {
  border: 1px solid #ddd;
}

.map-container {
  position: relative;
  width: 100%;
  height: 400px;
}

#mapContainer {
  width: 300px;
  height: 300px;
}
