<div [@pageTransition]>
    <div class="title-header">
      <h1>
        <span>|</span>
        Quadro Kanban
      </h1>
    </div>
    <div class="body-kanban">
            <!-- A Fazer -->
            <div class="list">
                <h2>A Fazer</h2>
                <div class="card-kanban">
                    <div class="header-card-Afazer"></div>
                    <div class="observations">
                        <h4>Projeto de Reforma de Escritório</h4>
                    </div>
                </div>
                <div class="card-kanban">
                    <div class="header-card-Afazer"></div>
                    <div class="observations">
                        <h4>Projeto de Reforma da Lavanderia</h4>
                    </div>
                </div>
            </div>
        
            <!-- Em Andamento -->
            <div class="list">
                <div class="list-header">
                    <h2>Em Andamento</h2>
                </div>
                <div class="card-kanban">
                    <div class="header-card-Emandamento"></div>
                    <div class="observations">
                        <h4>Projeto de Reforma de Escritório</h4>
                    </div>
                </div>
            </div>
        
            <!-- Pausado -->
            <div class="list">
                <div class="list-header">
                    <h2>Pausado</h2>
                </div>
                <div class="card-kanban">
                    <div class="header-card-pausado"></div>
                    <div class="observations">
                        <h4>Projeto de Reforma de Escritório</h4>
                    </div>
                </div>
            </div>
        
            <!-- Concluído -->
            <div class="list">
                <div class="list-header">
                    <h2>Concluído</h2>
                </div>
                <div class="card-kanban">
                    <div class="header-card-concluido"></div>
                    <div class="observations">
                        <h4>Projeto de Reforma de Escritório</h4>
                    </div>
                </div>
            </div>
    </div>
</div>