<div [@pageTransition]>
    <div class="title-header">
      <h1>
        <span>|</span>
        Quadro Kanban
      </h1>
    </div>
    <div class="body-kanban">
            <!-- A Fazer -->
            <div class="list">
                <h2>A Fazer</h2>
                <div class="card-kanban">
                    <div class="header-card-Afazer">
                        <h3>Projeto de Reforma de Escritório</h3>
                    </div>
                    <div class="observations">
                        <p>Observações: Aguardando orçamento final.</p>
                    </div>
                </div>
                <div class="card-kanban">
                    <div class="header-card-Afazer">
                        <h3>Projeto de Reforma de Escritório</h3>
                    </div>
                    <div class="observations">
                        <p>Observações: Aguardando orçamento final.</p>
                    </div>
                </div>
            </div>
        
            <!-- Em Andamento -->
            <div class="list">
                <h2>Em Andamento</h2>
                <div class="card-kanban">
                    <div class="header-card">
                        <h3>Projeto de Reforma de Escritório</h3>
                    </div>
                    <p class="date">Prazo: 15/12/2024</p>
                    <p class="status status-em-andamento">Em Andamento</p>
                    <div class="observations">
                        <p>Observações: Pintura em andamento.</p>
                    </div>
                    <img src="https://via.placeholder.com/150" alt="Foto do projeto">
                </div>
            </div>
        
            <!-- Pausado -->
            <div class="list">
                <h2>Pausado</h2>
                <div class="card-kanban">
                    <div class="header-card">
                        <h3>Projeto de Reforma de Escritório</h3>
                    </div>
                    <p class="date">Prazo: 20/12/2024</p>
                    <p class="status status-pausado">Pausado</p>
                    <div class="observations">
                        <p>Observações: Aguardando aprovação de projeto.</p>
                    </div>
                    <img src="https://via.placeholder.com/150" alt="Foto do projeto">
                </div>
            </div>
        
            <!-- Concluído -->
            <div class="list">
                <h2>Concluído</h2>
                <div class="card-kanban">
                    <h3>Reforma de Banheiro</h3>
                    <p class="date">Prazo: 05/12/2024</p>
                    <p class="status status-concluido">Concluído</p>
                    <div class="observations">
                        <p>Observações: Projeto finalizado com sucesso.</p>
                    </div>
                    <img src="https://via.placeholder.com/150" alt="Foto do projeto">
                </div>
            </div>
    </div>
</div>