/* CARDS */
.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  margin-bottom: 32px;
  background: #e8e8e8;
  border-radius: 8px;
}

.title-header h1 {
  font-size: 1.3em;
  font-weight: 400;
  color: var(--font-color-dark);
}

.title-header span {
  font-weight: 700;
  color: var(--accent-color);
}

/* LISTA */
.body-kanban {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  gap: 24px;
}

.list {
  background: #E8E8E8;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  max-height: 800px;
  min-height: auto;
}

.list h2 {
  text-align: center;
  color: #333;
}

.card-kanban {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 16px;
  margin: 10px 0;
  transition: background-color 0.3s ease;
  min-height: 100px;
}

.card-kanban:hover {
  border: 3px solid #9b9b9b;
  cursor: pointer;
}

.header-card-Afazer {
  background: #ffcc00;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 40px;
}

.header-card-Emandamento {
  background: #2196f3;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 40px;
}

.header-card-pausado {
  background: #ff5722;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 40px;
}

.header-card-concluido {
  background: #4caf50;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 40px;
}

.card-kanban h4 {
  margin: 0;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  padding: 1rem;
}

.icone-info {
  margin: 0;
  padding: 0 1rem 1rem;
  width: 50px;
  height: auto;
}

.card p {
  font-size: 14px;
  color: #555;
}

.card .date {
  font-size: 12px;
  color: #777;
}

.card .status {
  font-weight: bold;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
}

.card img {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 4px;
}

.card .observations {
  margin-top: 10px;
  font-size: 12px;
  color: #555;
}


/* DETALHES CARD KANBAN */
.modal-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffcc00;
  padding: 0;
  margin: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.close-modal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-header h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--accent-color);
}

.modal-header hr {
  width: 100%;
  color: var(--grey-50);
  margin-top: 4px;
  margin-bottom: 24px;
  border: none;
  height: 1px;
  background-color: var(--grey-50);
}

.modal-header .close {
  background: none;
  color: var(--grey-50);
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.container-modal {
  width: 500px;
  margin: 0;
  padding: 0;
}

.tag-titulo {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 14px;
}

.tag-titulo img {
  width: 20px;
  margin: 0.5rem;
  margin-left: 0;
}

.tag-projeto {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 14px;
}

.tag-projeto img {
  width: 20px;
  margin: 0.2rem;
  margin-left: 0;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text-container span {
  font-size: 14px;
}

.title-detalhes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 16px;
}

.tag-titulo h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--font-color-dark);
}

.title-detalhes p {
  font-size: 16px;
  font-weight: 400;
  color: var(--font-color-dark);
}

.body-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tag-projeto h4 {
  font-size: 16px;
  font-weight: 700;
}

.detail-item p {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-dark);
  text-align: justify;
}

.container-stars {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 16px;
}

.stars-details {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--bg-color-light);
  border-radius: 8px;
  margin: 8px;
  padding: 0 8px;
}

.stars-details h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--grey-text);
}

.contato-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contato-item span {
  font-size: 14px;
  font-weight: 200;
}

.container-dados {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
